/* .dsbrd-graph_row {
    display: flex;
    margin-bottom: 1.3rem;
    width: 100%;
    height: 15rem;
}

.dsbrd-graph_row1-item-lineSeries {
    width: 75.5%;
    margin-right: 3rem;

}

.dsbrd-graph_row1-item-graph-radial {
    width: 20%;
}


.dsbrd-graph_row2-item {
    width: 30%;
    margin-right: 3rem;
} */
